html{
    width: 100%;
    font-family: arial;
}
body{
    background: url("img/bgend.JPEG");
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
title{
    width: 100%;
}
.title h1{
    text-align: center;
    color: rgb(255, 0, 0);
    font-size: 50px;
    margin-top: 20%;
    font-style: italic;
}
.title a, a:visited{
    text-decoration: none;
    color: rgb(244, 4, 4);
}
.title a:hover{
    text-decoration: underline;
}
.friend img{
    position: static;
    width: 400px;
    height: 400px;
    margin-left: 10%;
}